ui-view

.gallery-block: .container-fluid.gallery-container
	.gallery-grid

		.col-sm-6.col-md-4.col-lg-3
			.gallery.gallery-text-block
				img.img-responsive(src='/images/gallery.gif')
				.inner
					p(ng-show='galleries.length == 0') Your gallery is empty.
					a.btn.dark-button(href='', ui-sref='mypage.galleries.upload', ng-hide='$state.includes("mypage.galleries.upload")')
						i.fa.fa-plus
						|  CREATE
		div(
			gallery-grid-item="",
			data="gallery",
			ng-repeat="gallery in galleries"
		)
