.container
  .col-md-6
    h3 Create a gallery picture
    form.form-upload(name='uploadForm', ng-submit='isFormValid() && save()')
      .form-group
        input.form-control(ng-model='title', type='text', required='', placeholder='Enter the title')
      .form-group
        select.form-control(ng-model='category', required='')
          option(value='') --- Select a category ---
          option(ng-repeat='cat in categories', value='{{cat.value}}') {{cat.label}}
      .form-group
        input(type='file', ng-file-select='onFileSelect($files)')
        .progress(ng-show='status == 1')
          .progress-bar(role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%;')
            | {{progress}}%
        .status(ng-switch='status')
          .alert.alert-info(ng-switch-when='1') Uploading...
          .alert.alert-success(ng-switch-when='2') The picture has been uploaded.
      .form-group
        p.text-center
          a.btn.btn-default(href='', ui-sref='mypage.galleries')
            i.fa.fa-times
            | CANCEL
          button.btn.btn-primary(type='submit', ng-class='{disabled: isFormValid() == false}')
            i.fa.fa-cloud-upload
            | SAVE
      // <button type="button" ng-click="test()">TEST</button>
  .col-sm-6(ng-if='gallery')
    cl-image.img-responsive.img-thumbnail(public-id='{{gallery.public_id}}', format='{{gallery.format}}')
