//#browse-items-block(style="display:none;")
script#browse-items-block(type="text/ng-template")

	.uki-navbar.hidden-lg
		.container-fluid
			//button.ui.button.icon.black
				i.icon.content
				| Browse
			.btn.filter-bar-toggle(ng-show="$state.includes('browse')",ui-toggle="uiSidebarRight")
				span.text Browse
				i.fa.fa-bars
				//div.bars
					- for(var i=0; i<3; i++)
						span.icon-bar


	.gallery-block: .container-fluid.gallery-container

		//PREV button for mobiles (smaller)
		//div.visible-xs
			div(ng-show="pagination.current != 1")
				button.btn.btn-block.btn-lg.btn-pagination(ng-click="setCurrent(pagination.current - 1)")
					i.fa.fa-backward
					|  PREVIOUS p = {{pagination.current}}

		div.gallery-grid
			div.col-sm-6.col-md-4.col-lg-3.hidden-xs.hidden-sm(ng-show="pagination.current == 1")
				.gallery-text-block
					img.img-responsive(src="images/gallery.gif")
					.inner
						p What is ukiuki?
						a.btn.dark-button(ui-sref="whatisukiuki") Click here



			div.col-sm-6.col-md-4.col-lg-3.hidden-xs(ng-show="pagination.current != 1")
				.gallery-text-block
					img.img-responsive(src="images/gallery.gif")
					.inner
						a.btn.dark-button(href,ng-click="setCurrent(pagination.current - 1)")
							i.fa.fa-backward
							|  PREVIOUS

			div(
				gallery-grid-item="",
				data="gallery",
				dir-paginate="gallery in galleries | filter:searchFilter | itemsPerPage:10"
			)

			div.col-sm-6.col-md-4.col-lg-3.hidden-xs(ng-show="pagination.current != pagination.last && pagination.current != 1")
				.gallery-text-block
					img.img-responsive(src="images/gallery.gif")
					.inner
						a.btn.dark-button(href,ng-click="setCurrent(pagination.current + 1)")
							i.fa.fa-forward
							|  NEXT

			div.col-sm-6.col-md-4.col-lg-3.hidden-xs.hidden-sm(ng-show="pagination.current == 1")
				.gallery-text-block
					img.img-responsive(src="images/gallery.gif")
					.inner
						p
							| UKiUKi allows you to <strong>customise</strong> your site using your own banners, colours and wallpapers.

		dir-pagination-controls(template-url="html/pagination-controls.html")
		div.dark.text-center.load-more(ng-show="pagination.current == 1 && pagination.last != 1")

			button.btn.btn-lg.dark-button(ng-click="setCurrent(pagination.current + 1)")
				i.fa.fa-plus
				|  Click here to load more

		//NEXT button for mobiles (smaller)
		div.visible-xs
			div(ng-show="pagination.current != pagination.last && pagination.current != 1")
				button.btn.btn-block.btn-lg.btn-pagination(ng-click="setCurrent(pagination.current + 1)")
					| NEXT
					i.fa.fa-forward
