div.main-content
  div.container
    div.row
      div.col-lg-6
        h1 What is UKiUKi ?
        p
          | UKiUKi is an exciting, new community. Designed by artists for the artist, with a simple to use interface and the ability to customize your site with your own banners, colors and wallpapers.
        p
          | This one of a kind website allows individuality, and is dedicated to its members. With easy to use features to help artists share their artwork in the community and around the world.
      div.col-lg-6.text-center
        iframe(width='320', height='200', frameborder='0', allowfullscreen='', src='//www.youtube.com/embed/samCspIwr_M')
